<!DOCTYPE html>
<html>
<head>
	<title>slackConverter</title>
</head>
<body>

<h3>Example:</h3>
<p>/dzeuro 100 EUR to DZD</p>
<p><b>Result: </b>100 Euro = 11764.7 Dinar Algérien (EUR/DZD = 117.59)</p>

</body>
</html>